.guide {
    &_tit {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &_sub_tit {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &_wrap{
        & + .guide_wrap {
            margin-top: 30px;
        }
        pre code.hljs {
            line-height: 20px;
            margin-top: 30px;
        }
    }
}

.container {
    padding: 100px 30px 30px 30px;
    box-sizing: border-box;
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: all 0.5s;
}

#app.off {
    .pub_nav {
        left: -250px;
    }
    .container {
        margin-left: 0;
        width: 100%;
    }
}