.pub_header::v-deep {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
        font-size: 16px;
        color: #3261aa;
        overflow: hidden;
    }
    .pub_header_gnbClose {
        background-color: red;
    }
    &_gnbClose {
        background-color: yellow;
    }
}

.pub_header:deep(.pub_header_gnbClose) {
    background-color: #3261aa;
}